<!doctype html>
<html>
    <center>
    <head>
        <title>Regex Matcher</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <h1>Regex Matcher</h1>
        <form method="POST">
            <p>Enter a test string:</p>
            <textarea name="test_string" rows="4" cols="50"></textarea>
            <p>Enter a regular expression:</p>
            <input type="text" name="regex">
            <br><br>
            <input type="submit" value="Submit">
        </form>
    </body>
    </center>
</html>


