body {
    font-family: sans-serif;
  }
  
  h1 {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  form {
    margin-bottom: 50px;
  }
  
  textarea {
    width: 100%;
  }
  
  input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin: 10px 0;
  }
  
  .result-container {
    margin-top: 50px;
  }
  
  .result-container p {
    font-weight: bold;
  }
  
  .result-container ul {
    margin-top: 20px;
  }
  
  .matches-found {
    background-color: #d1f1be;
  }
  
  .matches-not-found {
    background-color: #f8d7da;
  }
  